@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.tetris-container {
    display: table;
    width: 240px;
}

.tetris-row {
    display: table-row;
    height: 24px;
    width: 240px;
}

.tetris-cell {
    display: table-cell;
    background-color: #000000;
    width: 24px;
    height: 24px;
    border: solid 1px #242323;
}

.tetris-piece {
    border-top: solid 1px white;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
    border-bottom: solid 1px black;
}

.tetris-red-cell {
    background-image: url("/images/tetromino-red.png");
}

.tetris-lightblue-cell {
    background-image: url("/images/tetromino-lightblue.png");
}

.tetris-purple-cell {
    background-image: url("/images/tetromino-purple.png");
}

.tetris-yellow-cell {
    background-image: url("/images/tetromino-yellow.png");
}

.tetris-green-cell {
    background-image: url("/images/tetromino-green.png");
}

.tetris-orange-cell {
    background-image: url("/images/tetromino-orange.png");
}

.tetris-darkblue-cell {
    background-image: url("/images/tetromino-darkblue.png");
}

.tetris-block-display {
    background-image: url(../images/tetris/tetromino-block.png);
    width: 48px;
    height: 48px;
}

.tetris-straight-display {
    background-image: url(../images/tetris/tetromino-straight.png);
    width: 96px;
    height: 24px;
}

.tetris-tshaped-display {
    background-image: url(../images/tetris/tetromino-tshaped.png);
    width: 72px;
    height: 48px;
}

.tetris-leftzigzag-display {
    background-image: url(../images/tetris/tetromino-leftzigzag.png);
    width: 72px;
    height: 48px;
}

.tetris-rightzigzag-display {
    background-image: url(../images/tetris/tetromino-rightzigzag.png);
    width: 72px;
    height: 48px;
}

.tetris-reverselshaped-display {
    background-image: url(../images/tetris/tetromino-reverselshaped.png);
    width: 72px;
    height: 48px;
}

.tetris-lshaped-display {
    background-image: url(../images/tetris/tetromino-lshaped.png);
    width: 72px;
    height: 48px;
}

.tetris-display-row {
    padding: 10px;
}

@keyframes fadeOut {
    0% {
        background-color: white
    }

    50% {
        background-color: gray
    }

    100% {
        background-color: black
    }
}

@-webkit-keyframes fadeOut {
    0% {
        background-color: white
    }

    50% {
        background-color: gray
    }

    100% {
        background-color: black
    }
}

@-moz-keyframes fadeOut {
    0% {
        background-color: white
    }

    50% {
        background-color: gray
    }

    100% {
        background-color: black
    }
}

.tetris-clear-row {
    border: solid 1px gray;
    animation-name: fadeOut;
    animation-duration: 1s;
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    -moz-animation-name: fadeOut;
    -moz-animation-duration: 1s;
}
